@font-face {
    font-family: Yanone;
    src: url(/Site/fonts/YanoneKaffeesatz-VariableFont_wght.ttf);
}
@font-face {
    font-family: Cabin;
    src: url(/Site/fonts/Cabin-VariableFont_wdth\,wght.ttf);
}

/* Página Inicial e Barra de Menu */

header {
    background-color: tomato;
    text-align: center;
    padding: 0px 0;
    margin: -10px;
    margin-bottom: -20px;
}

.logo-container img {
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    width: 250px;
    height: auto;
}

.menu {
    background-color: #05cb68;
    width: 100%;
    margin: -10px;  /* Diversos comandos de margin foram usados pois eu estava tendo problemas com as limitações de margem das páginas*/
    margin-top: -10px;
    padding-left: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-family: Cabin;
}

.tradutor {
    background-color: #03a454;
    margin: -10px;
}

.menu a {
    color: snow;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.menu a:hover {
    background-color: #03a454;
}

.video_delivery{
    width: 1100px;
    height: auto;
    margin: 0;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.welcome-message {
    font-size: 32px;
    color: tomato;
    margin-bottom: 30px;
    padding: 0 20px; 
}

.welcome-message span {
    color: #03a454;
    font-weight: bold;
}

.welcome-message p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
}

.horarios{
    width: 500px;
    height: auto;
    margin: 0;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Geral */

body{
    background-color: antiquewhite;
    overflow-x: hidden;
}

/* Estilos para telas de desktop ou notebook (1920x1080) */
@media (min-width: 1920px) {
    .menu ul {
        display: flex;
        justify-content: space-around;
    }
    .video_delivery{
        width: 1100px;
    }
    .horarios{
        width: 500px;
    }
    .imagem-legenda img {
        width: 500px;
    }
    .funcionario img {
        width: 200px;
        height: 200px;
    }
    .video_conosco {
        width: 500px;
    }
}

/* Estilos para telas de smartphones (375x812) */
@media (max-width: 500px) {
    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .video_delivery{
        width: 100%;
    }
    .horarios{
        width: 100%;
    }
    .funcionario img{
        width: 100%;
        max-width: 100%;
    }
    .video_conosco {
        width: 100%;
    }
    .imagem-legenda img {
        width: 100%;
        max-width: 100%;
    }
}

.inicio{
    font-family: Cabin;
    text-align: center;
    font-size: 20px;
    color: rgb(244, 43, 8);
}

footer {
    background-color: tomato;
    margin: -10px;
    margin-top: 10px;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Promoções */

.promocoes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.promocao {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.promocao img {
    max-width: 100%;
    border-radius: 8px;
    align-items: center;
    margin: -10px;
}

.dupla{
    height: 137px;
    width: auto;
    margin: 0;
    align-items: center;
}

.promocao h2 {
    margin-top: 10px;
    font-size: 18px;
}

.promocao p {
    margin-top: 5px;
    font-size: 17px;
}

/* Galeria */

.estabelecimento {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.imagem-legenda {
    flex: 1; 
    text-align: center;
}

.imagem-legenda img {
    width: 500px;
    height: auto;
    border-radius: 5px;
    border: 10px #03a454;
}

.legenda {
    margin-top: 10px;
}

.funcionarios{
    display: flex;
    justify-content: center;
}

.funcionario {
    margin: 10px;
    text-align: center;
}

.funcionario img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #05cb68;
}

.nome {
    margin-top: 5px;
    font-weight: bold;
}

.cargo {
    margin-top: 0;
    font-size: 18px;
    color: #05cb68;
}

/*Cardápio Teste*/

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.item {
    background-color: #f2f2f2;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.item h3 {
    margin: 10px 0;
}

/* Fale Conosco */

.video_conosco {
    width: 500px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

.video_conosco video {
    width: 100%;
    height: auto;
    display: block;
}

.fale-conosco-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    font-family: Cabin;
    width: 100%;
    padding: 10px;
    background-color: tomato;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: tomato;
}